<footer class="text-center text-white mt-4"  style="background-color: #1b2845; background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: CTA -->
    <section class="">
      <p class="d-flex justify-content-center align-items-center text-white">
        <span class="me-3">Want To Learn More?</span>
        <%= link_to "Get In Touch!", "mailto:info@xhostcom.com", class: "btn btn-outline-info btn-rounded" %>

      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-white" href="https://xhostcom.com/">Paul Anthony McGowan</a>
  </div>
  <!-- Copyright -->
</footer>



