<div class="center jumbotron mt-5 mb-4">
  <div class="container">
    <div class="center">
      <h1 class="display-6">
        <span class="display-6--intro">Rack Attack!</span></h1>
      <p class="lead">
        Built with latest Ruby on Rails 7, PostgreSQL, Thin Webserver, UUID's, Rack Contrib,
        <br />Email Sends, User Avatars, Enum Roles, Notifications, Announcements,  Rollup, Importmap, 
        <br />CSS Bundling, JS Bundling, Administrate, Turbo, Stimulus JS, Hotwire, Action Cable, Cable  Ready,
        <br />Redis Caching, Bootstrap 5, Font Awesome 5, Devise Auth, Rubocop &amp; RSpec!</p>
      </p>
    </div>
  </div>
</div>
<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-dark">
      <!-- START THE CONTENT FOR THE INTRO  -->
      <div class="col-md-6 intros text-left">
        <%= link_to image_tag('rack.webp', class: "img-fluid", alt: "Rack", :size => '550x289') %>
      </div>

      <div class="col-md-6 intros text-right">
        <div class="container">
          <%= link_to image_tag('ruby-rails.webp'), root_path, class: "img-fluid", alt: "Rails", :size => '550x289' %>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
  <strong>Holy Guacamole!</strong> Its Gonna be Awesome!
</div>
</section> 


