<div class="center jumbotron mt-5 mb-4">
  <div class="container">
    <div class="center">
      <h1 class="display-6">
        <span class="display-6--intro">Rails 7 Jumpstart Mini!</span></h1>
      <i class="fa fa-bell fa-4x"></i>
      <p class="lead">
        Built with latest Rails 7, PostgreSQL, Redis Caching, Bootstrap 5, Font Awesome 5, Devise Auth, and a bit more!</p>
      </p>
      <p class="lead">But mostly non-opinionated!</p>
    </div>
  </div>
</div>
